/* Temas */

:root[data-theme="light"]{
    --color-de-fondo: #FFFFFF;
    --color-primario: #212121;
    --color-secundario: #0000FF;
    --color-de-acento: #FFFFFF;
    --color-fondo-menu: rgba(0, 0, 0, 0.8);
}

:root[data-theme="dark"]{
    --color-de-fondo: #212121;
    --color-primario: #FFFFFF;
    --color-secundario: #FF0000;
    --color-de-acento: #434343;
    --color-fondo-menu: rgba(0, 0, 0, 0.9);
}

:root[data-theme="light"] .fa-sun{
    display: none;
}

:root[data-theme="dark"] .fa-moon{
    display: none;
}

/* Fuentes */

@supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif; }
}

/* Principal */

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: var(--color-de-fondo);
    font-family: 'Inter var';
    color: var(--color-primario);
    transition: 0.5s;
}

.titulo h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

.contenido{
    display: flex;
    justify-content: space-between;
}

.texto p{
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 5rem;
}

/* Menu Principal */

.menu{
    width: 100%;
    height: 5rem;
    background: var(--color-de-fondo);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.menu ul{
    display: flex;
    margin-right: 5rem;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: var(--color-primario);
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
}

.menu i{
    padding-left: 2rem;
}

.menu a:hover{
    color: var(--color-secundario);
}

.menu i:hover{
    color: var(--color-secundario);
}

.logo{
    font-weight: 600;
    margin-left: 3.5rem;
    font-size: 1.3rem;
}

#oscuro{
    display: flex;
}

/* Menu mobil */

.menu-mobil-nav{
    display: none;
}

#menu-mobil{
    height: 100%;
    position: fixed;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: .5s;
    background-color: var(--color-fondo-menu);
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-mobil a{
    margin-bottom: 1rem;
}

#nav-mobil ul{
    list-style-type: none;
    list-style: none;
    padding-inline-start: 0;
}

#menu-mobil li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-mobil a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #FFFFFF;
    transition: .4s;
    margin-bottom: 2rem;
}

#menu-mobil i{
    color: #FFFFFF;
    margin: auto;
    font-size: 1.8rem;
}

.open-menu{
    display: none;
}

/* Presentación */

.presentacion{
    margin-top: 8rem;
    display: flex;
    align-items: center;
    margin-inline: 5rem;
}

.presentacion-texto h1{
    font-size: 2.5rem;
    margin-block: 0.9rem;
}

.presentacion-texto h2{
    font-size: 1.75rem;
    margin: 0;
    font-weight: 400;
}

.presentacion-texto h3{
    font-size: 2rem;
    margin-block: 1.5rem;
}

.presentacion-texto h4{
    font-size: 1.2rem;
    margin: 0;
    font-weight: 400;
}

.presentacion-texto p{
    font-size: 1.1rem;
    margin-bottom: 2rem;
    max-width: 80%;
}

.links-sociales i{
    font-size: 2.3rem;
    margin-right: 1rem;
    color: var(--color-primario);
}

.links-sociales i:hover{
    color: var(--color-secundario);
}

.presentacion-imagen img{
    width: auto;
    height: 31.25rem;
}

/* Lo Que Hago */

.lo-que-hago{
    padding-top: 8rem;
    margin-inline: 5rem;
    margin-bottom: 5rem;
}

.tarjeta{
    background-color: var(--color-de-acento);
    box-shadow: 2px 4px 20px 1px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
    flex-basis: 0;
    padding: 2rem;
    margin-right: 3rem;
}

.tarjeta:last-child{
    margin-right: 0;
}

.tarjeta h4{
    font-size: 1.5rem;
    width: 50%;
}

.tarjeta i{
    font-size: 3rem;
    color: var(--color-secundario);
}

.linea{
    border-bottom: 0.2rem solid var(--color-secundario);
    width: auto;
}

/* Habilidades Tecnicas*/

.habilidades-tecnicas{
    display: block;
    padding-top: 8rem;
}

.contenedor-1{
    margin-inline: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-de-acento);
    width: 100%;
    box-shadow: 2px 4px 20px 1px rgba(0, 0, 0, 0.2);
}

.tarjeta-1{
    width: auto;
    padding-block: 3rem;
    margin: auto;
}

.tarjeta-1 h2{
    text-align: center;
    font-size: 5rem;
    margin: 0;
}

.tarjeta-1 h3{
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-secundario);
}

/* Habilidades Blandas */

.habilidades-blandas{
    padding-top: 8rem;
    margin-inline: 5rem;
}

.tarjeta-2{
    flex-grow: 1;
    flex-basis: 0;
    background-color: var(--color-de-acento);
    padding: 2rem;
    box-shadow: 2px 4px 20px 1px rgba(0, 0, 0, 0.2);
    margin-right: 3rem;
}

.tarjeta-2 i{
    font-size: 3rem;
    color: var(--color-secundario);
}

.tarjeta-2 h4{
    font-size: 1.5rem;
}

.tarjeta-2:last-child{
    margin-right: 0;
}

/* Proyecto */

.mis-proyectos{
    margin-inline: 5rem;
    padding-top: 8rem;
}

.proyecto{
    flex-grow: 1;
    flex-basis: 0;
    padding-block: 2rem;
    margin-right: 3rem;
}

.proyecto a{
    text-decoration: none;
}

.proyecto-1{
    background-image: url(../img/tada.jpg);
    background-size: cover;
    background-position: center;
    height: 12rem;
    margin-bottom: 0;
    box-shadow: 2px 4px 40px 1px rgba(0, 0, 0, 0.2);
}

.proyecto-2{
    background-image: url(../img/glaam.jpg);
    background-size: cover;
    background-position: center;
    height: 12rem;
    margin-bottom: 0;
    box-shadow: 2px 4px 40px 1px rgba(0, 0, 0, 0.2);
}

.proyecto-3{
    background-image: url(../img/dhisa.png));
    background-size: cover;
    background-position: center;
    height: 12rem;
    margin-bottom: 0;
    box-shadow: 2px 4px 40px 1px rgba(0, 0, 0, 0.2);
}

.proyecto:last-child{
    margin-right: 0;
}

.nombre-proyecto{
    text-align: center;
    background-color: var(--color-secundario);
    width: 100%;
    box-shadow: 2px 4px 20px 1px rgba(0, 0, 0, 0.2);
}

.nombre-proyecto h4{
    margin-top: 0;
    color: #FFFFFF;
    font-size: 1.5rem;
    padding-block: 0.5rem;
}

/* Contacto */

.contacto{
    padding-top: 6rem;
    margin-inline: 5rem;
    margin-bottom: 5rem;
}

.formulario{
    background-color: var(--color-de-acento);
    box-shadow: 2px 4px 20px 1px rgba(0, 0, 0, 0.2);
    padding: 3rem;
    height: 35rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 5rem;
}

.formulario-grupo-1{
    display: flex;
    margin-bottom: 3rem;
}

.formulario-grupo-2{
    display: flex;
    margin-bottom: 3rem;
}

.formulario-grupo-3{
    margin-bottom: 3rem;
}

.formulario-grupo-4{
    display: flex;
    margin-bottom: 4rem;
}

.formulario-grupo-5{
    display: flex;
    justify-content: end;
}

.grupo{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 10rem;
}

.grupo:last-child{
    margin-right: 0;
}

.grupo input{
    border: none;
    border-bottom: 0.01rem solid var(--color-primario);
    background-color: var(--color-de-acento);
    padding: 1rem;
    margin-top: 1rem;
}

.grupo-help{
    margin-bottom: 3rem;
}

.grupo-help label{
    font-size: 1.1rem;
}

.grupo label{
    font-size: 1.1rem;
}

.help{
    display: flex;
}

.help-input{
    margin-right: 2rem;
}

.boton-enviar{
    padding-block: 0.8rem;
    padding-inline: 5rem;
    background-color: var(--color-secundario);
    color: #FFFFFF;
    border: none;
    font-size: 1.1rem;
}

.grupo input:focus{
    background-color: var(--color-de-acento);
    outline: none;
    font-size: 1.1rem;
    margin-left: -1rem;
}

/* Footer */

footer{
    height: 8rem;
    background-color: var(--color-de-fondo);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: var(--color-primario);
    margin-right: 0.5rem;
}

footer .logo{
    margin-left: 0;
    margin-block: 0;
}

footer .links-sociales i{
    font-size: 1.5rem;
}

footer .links-sociales i:hover{
    color: var(--color-secundario);
}

footer .links-sociales i:last-child{
    margin-right: 0;
}

@media (max-width: 1200px) {
    /* Principal */

    .titulo h2{
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 0;
    }

    .contenido{
        flex-direction: column;
        align-items: center;
    }

    .texto p{
        width: 100%;
        font-size: 1rem;
        margin-block: 3rem;
    }

    /* Menu Principal */

    .menu{
        height: 4rem;
    }

    .nav-menu{
        display: none;
    }

    .logo{
        margin-left: 2.5rem;
        font-size: 1.3rem;
    }

    .menu a{
        padding: 0;
    }

    /* Menu mobil */

    .open-menu{
        display: flex;
        margin-right: 2.5rem;
        font-size: 1.2rem;
    }

    /* Presentación */

    .presentacion{
        margin-top: 6rem;
        margin-inline: 2.5rem;
        flex-direction: column;
        text-align: center;
    }

    .presentacion-texto{
        margin-bottom: 2rem;
    }

    .presentacion-texto h1{
        font-size: 1.8rem;
        margin-block: 0.7rem;
    }

    .presentacion-texto h2{
        font-size: 1.3rem;
    }

    .presentacion-texto h3{
        font-size: 1.4rem;
        margin-block: 1rem;
    }

    .presentacion-texto h4{
        font-size: 1.2rem;
    }

    .presentacion-texto p{
        font-size: 1rem;
        max-width: 100%;
    }

    .links-sociales i{
        font-size: 2.1rem;
    }
    
    .presentacion-imagen{
        display: flex;
        justify-content: center;
    }

    .presentacion-imagen img{
        height: 20rem;
    }

    /* Lo Que Hago */

    .lo-que-hago{
        padding-top: 5.5rem;
        margin-inline: 2.5rem;
        margin-bottom: 0;
    }

    .lo-que-hago .titulo{
        margin-bottom: 2.5rem;
    }

    .tarjeta{
        margin-bottom: 2rem;
        margin-right: 0;
        padding: 1.8rem;
        width: 70%;
    }

    .tarjeta:last-child{
        margin-bottom: 0;
    }

    .tarjeta h4{
        width: 65%;
    }

    .tarjeta i{
        font-size: 3rem;
    }

    /* Habilidades Tecnicas*/

    .habilidades-tecnicas{
        padding-top: 5.5rem;
        margin-inline: 2.5rem;
    }

    .contenedor-1{
        flex-direction: column;
        margin: auto;
        width: 90%;
    }

    .tarjeta-1{
        padding-block: 2rem;
    }
    
    .tarjeta-1:last-child{
        margin-bottom: 1.5rem;
    }

    .tarjeta-1 h2{
        font-size: 4rem;
    }

    .tarjeta-1 h3{
        font-size: 1.4rem;
        margin: 0;
    }

    /* Habilidades Blandas */

    .habilidades-blandas{
        padding-top: 5.5rem;
        margin-inline: 2.5rem;
    }

    .tarjeta-2{
        padding: 1.8rem;
        margin-bottom: 3rem;
        margin-right: 0;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tarjeta-2 h4{
        text-align: center;
    }

    .tarjeta-2:last-child{
        margin-bottom: 0;
    }

    /* Proyecto */

    .mis-proyectos{
        margin-inline: 2.5rem;
        padding-top: 5.5rem;
    }

    .proyecto{
        padding-block: 1.8rem;
        margin-right: 0;
        width: 90%;
    }

    .proyecto:last-child{
        margin-bottom: 0;
    }

    /* Contacto */

    .contacto{
        padding-top: 5.5rem;
        margin-inline: 2.5rem;
        margin-bottom: 5rem;
    }

    .formulario{
        padding: 3rem;
        height: 50rem;
    }

    .formulario-grupo-1{
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .formulario-grupo-2{
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .formulario-grupo-3{
        margin-bottom: 1rem;
    }

    .formulario-grupo-4{
        margin-bottom: 2rem;
    }

    .formulario-grupo-5{
        justify-content: center;
    }

    .grupo{
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .grupo-help{
        margin-bottom: 1rem;
    }

    .help{
        display: flex;
        flex-direction: column;
    }

    .help input{
        margin-bottom: 0.6rem;
    }

    .help label{
        margin-bottom: 0.8rem;
    }

    .boton-enviar{
        padding-inline: 2rem;
    }
}

@media (min-width: 1200px) and (max-width: 1375px)  {
    /* Menu Principal */

    .menu{
        height: 4rem;
    }

    .nav-menu{
        display: none;
    }

    .logo{
        margin-left: 2.5rem;
        font-size: 1.3rem;
    }

    .menu a{
        padding: 0;
    }

    /* Menu mobil */

    .open-menu{
        display: flex;
        margin-right: 2.5rem;
        font-size: 1.2rem;
    }
}